/.vs
/Filmolib/bin
/Filmolib/obj
/Filmolib/obj/Debug
/Filmolib/obj/Debug/net6.0-windows
/Filmolib/obj/Debug/net6.0-windows/Views
/Filmolib/obj/Debug/net6.0-windows/ref
/Filmolib/obj/Debug/net6.0-windows/refint